body {
    background-color: #b4dee8;   /* light background */
}
h1 {
  font-size: 40px;
  color: rgb(2, 2, 29);
  margin: 20px 0 0 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: #324885 2px 2px 4px ;
}