
/* Sidebar */
h2 {
  letter-spacing: 1px;
  font-weight: 600;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  background-color: rgb(201, 240, 234);
}

nav {
  width: 220px;
  height: 100vh;
  background: linear-gradient(180deg, #c7e9f7, #e9d5f5, #d6ccf8);
  color: #2c2c54;
  padding: 20px;
}

nav h2 {
  margin-top: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin: 15px 0;
}

nav a {
  text-decoration: none;
  color: #2c2c54;
  display: block;
  padding: 8px;
  border-radius: 5px;
}

nav a:hover {
  background: linear-gradient(90deg, #dbeafe, #f3e8ff);
}

/*Sidebar end*/

.doubtsection .dropdown {
  display: none;
}

.doubtsection:hover .dropdown {
  display: block;
  background-color: white;
  color: black;
 box-shadow: 5px 5px 5px rgba(183, 27, 27, 0.808),
            -5px -5px 5px rgba(248, 128, 128, 0.808);
  border-radius: 10%;
}

.doubtsection a:hover {
  color: rgb(0, 0, 0);
}



